server:
  port: 8080
  contextPath: /CinemaProject
---
spring:
  profiles: local,default
datasource:
  sampleapp:
    url: jdbc:h2:~/test
    username: SA
    password:
    driverClassName: org.h2.Driver
    defaultSchema:
    maxPoolSize: 10
    hibernate:
      hbm2ddl.method: create-drop
      show_sql: true
      format_sql: true
      dialect: org.hibernate.dialect.H2Dialect
---
spring:
  profiles: prod
datasource:
  sampleapp:
    url: jdbc:mysql://localhost:3306/kinoDB
    username: <your username>          #Replace this field with your DB username.
    password: <your password>          #Replace this field with your DB password.
    driverClassName: com.mysql.jdbc.Driver
    defaultSchema:
    maxPoolSize: 20
    hibernate:
      hbm2ddl.method: update
      show_sql: true
      format_sql: true
      dialect: org.hibernate.dialect.MySQL5Dialect
---
spring:
 mail:
  host: smtp.gmail.com
  username: <your username>             #Replace this field with your Gmail username.
  password: <your password>             #Replace this field with your Gmail password.
  port: 587
  properties.mail.smtp:
        starttls.enable: true
        starttls.required: true
        auth: true;